<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // $('.get_arr').submit(function(event) {
        //   // Отменяем стандартное поведение формы
        //   event.preventDefault();
  
        //   // Отправляем AJAX-запрос на сервер
        //   $.ajax({
        //     type: 'POST',
        //     url: '/get_arr',
        //     data: $('.get_arr').serialize(),
        //     success: function(response) {
        //       // Обновляем содержимое блока с результатами
        //       console.log(response)
        //       document.getElementById("result").innerHTML = JSON.stringify(response.elements);
        //     }
        //   });
        // });
        $('.get_par').submit(function(event) {
          // Отменяем стандартное поведение формы
          event.preventDefault();
  
          // Отправляем AJAX-запрос на сервер
          $.ajax({
            type: 'POST',
            url: '/get_par',
            data: $('.get_par').serialize(),
            success: function(response) {
              // Обновляем содержимое блока с результатами
              console.log(response)
              document.getElementById("result").innerHTML = JSON.stringify(response.elements);
            }
          });
        });
        $('.get_ser').submit(function(event) {
          // Отменяем стандартное поведение формы
          event.preventDefault();
  
          // Отправляем AJAX-запрос на сервер
          $.ajax({
            type: 'POST',
            url: '/get_ser',
            data: $('.get_ser').serialize(),
            success: function(response) {
              // Обновляем содержимое блока с результатами
              console.log(response)
              document.getElementById("result").innerHTML = JSON.stringify(response.elements);
            }
          });
        });
        $('#anzy').submit(function(event) {
          // Отменяем стандартное поведение формы
          event.preventDefault();
  
          // Отправляем AJAX-запрос на сервер
          $.ajax({
            type: 'POST',
            url: '/analyze',
            data: $('#anzy').serialize(),
            success: function(response) {
              // Обновляем содержимое блока с результатами
              console.log(response)
              document.getElementById("result").innerHTML = JSON.stringify(response["eq"])
              var x = JSON.parse(response["x_s"]).map(x=>parseFloat(x))
              var sigma = JSON.parse(response["sigmas"]).map(x=>parseFloat(x))
              var T = JSON.parse(response["t"]).map(x=>parseFloat(x))
              // console.log(x)
              var sigma_x = {
                x: x,
                y: sigma,
                type: 'scatter'
              };
              var sigma_t = {
                x: T,
                y: sigma,
                type: 'scatter'
              };
              var x_t = {
                x: T,
                y: x,
                type: 'scatter'
              };
              var layout = {
                title: {
                  text:'	&#963;(&#949;(t))',
                  font: {
                    family: 'Courier New, monospace',
                    size: 28
                  },
                  xref: 'paper',
                  x: 0.1,
                  automargin: true,
                },
                xaxis: {
                  title: {
                    text: '&#949;',
                    font: {
                      family: 'Courier New, monospace',
                      size: 28,
                      color: '#7f7f7f'
                    }
                  },
                  ticklen: 8,
                  tickwidth: 4
                },
                yaxis: {
                  
                  
                  title: {
                    text: '	&#963;',
                   
                    font: {
                      family: 'Courier New, monospace',
                      size: 28,
                      color: '#7f7f7f',
                      transform: "-90deg"
                    }
                  },
                  ticklen: 8,
                  tickwidth: 4
                }
              };
              var data1 = [sigma_x];
              var data2 = [sigma_t];
              var data3 = [x_t];

              Plotly.newPlot('myPlot1', data1,layout);
              layout.title.text = "&#963;(t)"
              layout.xaxis.title.text = "t"
              layout.yaxis.title.text = "&#963;"
              Plotly.newPlot('myPlot2', data2, layout);
              layout.title.text = "&#949;(t)"
              layout.yaxis.title.text = "&#949;"
              layout.xaxis.title.text = "t"
              Plotly.newPlot('myPlot3', data3, layout);
              // document.getElementById("result").innerHTML += "\n"+JSON.stringify(response["x_s"])
              // document.getElementById("result").innerHTML = "\n"+JSON.stringify(response.sigmas);

            }
          });
        });
      });
    </script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comme:wght@200&display=swap" rel="stylesheet">
</head>
<body>
    
    <fieldset class="inputData">
        <span class="text-center">Введите входные параметры</span>
        <div class="input-container">
            <label>Количество основных подсистем</label>		
            <input type="number" class="num" required=""/>
        </div>
        
        <div class="input-container">		
            <label>Тип соединения</label>
            <div>
                <input type="radio" class = "type" name="type" value = "parallel"/>
                <label for="type">Параллельное</label>
            </div>
            <div>
                <input type="radio" class = "type" name="type" value = "serial"/>
                <label for="type">Последовательное</label>
            </div>
            <!-- <input type="radio" name="serial" value = "Последовательное"/> -->
        </div>
        <button type="button" class="generate">Generate</button>
        <button type="button" class="collect">Collect</button>
    </fieldset> 
    <div class="data">
        <ul class = "data_ul">

        </ul>
    </div>
    <div>
      <textarea class="workspace" rows = "14" cols="35">
      </textarea>
      <button class = "change">Поменять значения</button>
    </div>
    <div class="forms">
      <div id = "arr" class = "get_arr">
        <!-- <input type="text" class = "array" name="array"> -->
        <textarea name="array" id="debug" cols="25" rows="3" form="arr"></textarea>
        <br>
        <button class = "get_arr">Отправить</button>
      </div> 
      <form id = "par" class = "get_par" action="/get_par" method="post">
          <!-- <input type="text" name="paral" class = "paral"> -->
          <textarea name="paral" class="paral" cols="25" rows="3" form="par"></textarea>
          <br>
          <button class = "calc" type="submit">Параллельное вычисление</button>
      </form>
      <form id = "ser" class = "get_ser" action="/get_ser" method="post">
          <!-- <input type="text" name="serial" class = "serial"> -->
          <textarea name="serial" class="serial" cols="25" rows="3" form = "ser"></textarea>
          <br>
          <button class = "calc" type="submit">Последовательное вычисление</button>
      </form> 
    </div>  
    <div>
      <div id="result"></div>
      <div>
        <div class="control">
          <button id="copyPar">Вставить в "Параллельное ..."</button>
          <br>
          <button id="copySer">Вставить в "Последовательное ..."</button>
          <br>
          <button id="confirm">Подтвердить</button>
        </div>
        
        <form id = "anzy" action="/analyze" method="post">
          <label for="">Окончательный результат <br><textarea rows="5" cols="20" type="text" name="res" id="res"></textarea></label>
          <p>Введите нагрузку на систему &sigma; или &epsilon;</p>
          <label for="">&sigma; = <input type="text" form="anzy" name="sigma"></label>
          <label for="">&epsilon; = <input type="text" form="anzy" name="eps"></label> 
          <label for="">t0 = <input type="text" form="anzy" name="time0"></label> 
          <label for="">t1 = <input type="text" form="anzy" name="time1"></label> 
          <label for="">Укажите &epsilon;(0)<input type="text" form="anzy" name="ics"></label>
          <button type="submit">Анализировать</button>
        </form>
      </div>
    </div>
    <div id = "formula">$$\left(1 + \frac{\int \sigma{\left(t \right)} e^{\frac{E t}{\eta_{1} + \eta_{2}}}\, dt}{\eta_{1} + \eta_{2}}\right) e^{- \frac{E t}{\eta_{1} + \eta_{2}}}$$</div>
    <div style="grid-row: 3; grid-column: 1 / 4;" id = "graphs">
      <div id="myPlot1"></div>
      <div id="myPlot2"></div>
      <div id="myPlot3"></div>
    </div>
    
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="../static/set.js"></script>
    <script src="../static/index.js"></script>
    
    <script>
      document.getElementById("clicker").addEventListener("click",()=>{

        let formula = document.querySelector("#result").innerHTML
        document.getElementById("formula").innerText = "$$" + formula.substring(1,formula.length - 1) + "$$";
      })
    </script>
</body>
</html>