*{
	
	color:beige;
	font-family: 'Comme', sans-serif;
}
button{
	background-color:rebeccapurple;
	color: rgba(255,255,255,1);
	font-size: 16px;
	border-radius: 10px;
	font-weight: 600;
	height: 50px;
	width: 200px;
}
textarea{
	background-color:cadetblue;
	font-size: large;
	font-weight: 700;
}
#result{
	background-color:cadetblue;
}
body{
	background-color:darkslategrey;
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 2fr 3fr 2fr;

	row-gap: 0;
	column-gap: 0;
}
#graphs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
}
/* .workspace{
	height:100%;
	width: 100%;
} */
.inputData{
	border: 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	/* height: 60%; */
	align-items: center;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	justify-content: center;
}
input{
	background-color: rebeccapurple;
	height: 30px;
	border-radius: 10px;
}
.inputData .num{
	background-color: rebeccapurple;
	height: 30px;
	border-radius: 10px;
}
.text-center{
	font-size: 28px;
	height: 20%;
}
.input-container{
	height: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

.forms{
	margin: 0;
	padding: 0;
	border: 0;
	border-right: 3px solid white;
	
}
form{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#arr{
	/* margin-bottom: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
}
.data{
	background-color: cornflowerblue;
	border-bottom: 3px solid white;
	border-left: 3px solid white;
	text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
/* CSS */
/* .inputData button {
	background-color:rebeccapurple;
	color: rgba(255,255,255,1);
	font-size: 16px;
	border-radius: 10px;
	font-weight: 600;
	height: 30px;
	width: 100px;
} */

ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
}


#result{
	border: 1px solid black;
	
	height: 10vh;
}
form #anzy{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#anzy > * {
	width: 150px
}
.control{
	display: flex;
	justify-content: space-around;
}
div:has(textarea.workspace){
	border: 0;
	border-left: 3px solid white;
}

.prompt-container {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1000;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:darkslategrey;
	animation: slide-in 0.3s ease-out forwards;
  opacity: 0;
  }
  @keyframes slide-in {
	from {
	  opacity: 0;
	  transform: translateY(-100%);
	}
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  .prompt-container select {
	background-color:rebeccapurple;
	margin-bottom: 10px;
  }
  
  .prompt-container button {
	background-color:rebeccapurple;
	margin: 5px;
  }